


.animations-container {
    // border: 1px solid red;
    bottom: 0;
    left: 0;
    max-width: 980px;
    padding: 0!important;
    right: 0;
    position: fixed;
    z-index: 98;
    // width: 100%;
}

// .animations-container > div {
//     display: inline-block;
// }


#xsbottom-bg {
    background: url('../images/bg_buildings.png') no-repeat bottom center;
    // background: url('../images/bg_buildings-all.png') no-repeat bottom center;
    height: 186px;
    left: 0;
    margin: 0 auto;
    max-width: 980px;
    position: relative;
    right: 0;

    width: 100%;
}

.xsbottom {
    position: absolute;
    bottom: 0;
    width: auto;

    img {
        bottom: 0;
        // opacity: 0;
        position: absolute;
        vertical-align: bottom;
        width: 100%;
    }
}


#business_leadership {
    left: 26px;
    height: 180px;
    width: 50px;
    
    img {
        bottom: -10px;
    }
}

#business_leadership2 {
    left: 80px;
    height: 144px;
    width: 48px;

    img {
       bottom: -3px; 
    }
}

#it-security {
    left: 416px;
    height: 88px;
    width: 62px;
}

#it-operations {
    right: 26px;
    height: 180px;
    width: 50px;
    
    img {
        bottom: -10px;
    }
}

#it-operations2 {
    right: 26px;
    height: 180px;
    width: 50px;
    
    img {
        bottom: -10px;
    }
}

#it-operations3 {
    right: 26px;
    height: 180px;
    width: 50px;
    
    img {
        bottom: -10px;
    }
}

#compliance {
    right: 26px;
    height: 180px;
    width: 50px;
    
    img {
        bottom: -10px;
    }
}

// #compliance2 {
//     // background: url('../images/bg_buildings_compliance.png') no-repeat 0 0;
// }



