


//////////////////

// .containerwrap .xs-row{
//     height: 100vh;
// }

// .xs-navigator {
//     background: transparent;
//     height: 134px;
//     position: fixed;
//     right: 0;
//     top: 38%;
//     width: 65px;
//     z-index: 9999;
// }
// .xs-navigator ul{
//     list-style: none;
// }

// .xs-navigator ul li a {
//     background: #797c80 none repeat scroll 0 0;
//     border: 1px solid #797c80;
//     border-radius: 100px;
//     height: 10px;
//     margin-bottom: 20px;
//     width: 10px;
//     display: block;
//     text-indent: -9999px;
// }

// .xs-navigator ul li.active a{
//     background: #00AFF0 none repeat scroll 0 0;
//     border: 1px solid #00AFF0;
// }
// .xs-slogan{
//     font-size: 27px;
// }
// .slogan-part-1{
//     color: #464646;
// }
// .slogan-part-2{
//     color: #1563AC;
//     font-weight: bold;
// }

// .centered {
//     left: 18%;
//     position: absolute;
//     /*top: 40vh;*/
//     width: 790px;
// }

// #scene-1 p{
//     font-size: 30px;
// }
// .wrap-1{
//     background: #00CCCC;
// }

// #scene-2{
//     opacity: 1;
// }

// #scene-3{
//     opacity: 1;
// }

.animations-wrap {
    max-width: 980px;
    margin: 0 auto;
    overflow: hidden;
    // position: relative;
    text-align: center;
}

.animations-container {
    border: 1px solid red;
    bottom: 0;
    margin: 0 auto;
    position: fixed;
    z-index: 98;
}


#xsbottom-bg {
    // background: url('../images/bg_buildings.png') no-repeat;
    // background-size: cover;
    // border: 1px solid green;
    // display: inline-block;
    height: 186px;
    left: 0;
    margin: 0 auto;
    max-width: 980px;
    position: relative;
    right: 0;

    width: 100%;
}

.xsbottom {
    position: absolute;
    // background-size: 100% auto!important;
    // height: 100px!important;
    border: 1px solid orange;
    bottom: 0;
    width: auto;

    img {
        bottom: 0;
        // height: 100%;
        left: 0;
        position: absolute;
        vertical-align: bottom;
        width: 100%;
    }
}


#business_leadership {
    left: 26px;
    height: 180px;
    width: 50px;
    
    img {
        bottom: -10px;
    }
}

#business_leadership2 {
    left: 80px;
    height: 144px;
    width: 48px;

    img {
       bottom: -3px; 
    }
}

#it-security {
    // background: url('../images/bg_buildings_it-security-1.svg') no-repeat 0 0;
    // left: 44%;
    left: 416px;
    height: 88px;
    width: 62px;
}

#operations {
    // background: url('../images/bg_buildings_operations.png') no-repeat 0 0;
    left: 26px;
    height: 180px;
    width: 50px;
    
    img {
        bottom: -10px;
    }
}

#operations3 {
    // background: url('../images/bg_buildings_operations.png') no-repeat 0 0;
    left: 26px;
    height: 180px;
    width: 50px;
    
    img {
        bottom: -10px;
    }
}

#compliance {
    // background: url('../images/bg_buildings_compliance.png') no-repeat 0 0;
}

#compliance2 {
    // background: url('../images/bg_buildings_compliance.png') no-repeat 0 0;
}



