
.scroll-more {
	bottom: 0;
	height: 58px;
	position: absolute;

	a {
		background: url('../images/icon_scroll-more.png') no-repeat 0 0;
		display: block;
		height: 58px;
		margin: 0 auto;
		width: 117px;
	}
}

.scroll-more-first {
	background: url('../images/icon_scroll-more-first.png') no-repeat 0 0;
	display: block;
	height: 83px;
	width: 42px;
}

.nav-tabs {
	border: none;
}

.hotpoint-links {
	position: absolute;
	top: 0;
	bottom: 0;

	li {
		position: relative;
		// overflow: hidden;
		
		a {
			display: inline-block;
			font-size: 13px;
			line-height: 15px;
			padding: 0;
			height: 44px;

			// background-image:
			// radial-gradient(circle at 0 0, rgba(204,0,0,0) 14px, #c00 15px),
			// radial-gradient(circle at 100% 0, rgba(204,0,0,0) 14px, #c00 15px),
			// radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 14px, #c00 15px),
			// radial-gradient(circle at 0 100%, rgba(204,0,0,0) 14px, #c00 15px);			

			&:hover {
				// border: 10px solid green;
			}
		}

		span {
			display: block;
			padding: 6px 0 0 16px;
		}

		&:nth-child(even) span {
			// @include gradient-horizontal($start-color: $blue, $end-color: $blue-opaque);
			padding-left: 62px;
		}

		// &:nth-child(odd) {
		// 	@include gradient-horizontal($start-color: $blue-opaque, $end-color: $blue);
		// }
		
		margin-bottom: 6px;

		// span {
		// 	background : $blue;
		// 	border: 1px solid $blue;
		// 	border-radius: 11px;
		// 	display: inline-block;
		// 	height: 11px;
  //   		margin: -6px 0 0 -6px;
  //   		width: 11px;
		// }
	}

	.hotpoint-1 {
		a {
			background: url('../images/hotpoint-1.png') no-repeat 0 0;
			width: 193px;
		}

		&.active a,
		a:hover {
			background: url('../images/hotpoint-sel-1.png') no-repeat 0 0;
		}
	}

	.hotpoint-2 {
		a {
			background: url('../images/hotpoint-2.png') no-repeat 0 0;
			width: 183px;
			// transform: rotate(180deg);
		}

		&.active a,
		a:hover {
			background: url('../images/hotpoint-sel-2.png') no-repeat 0 0;
		}

		span {
			padding-top: 14px;
		}
	}

	.hotpoint-3 {
		a {
			background: url('../images/hotpoint-3.png') no-repeat 0 0;
			width: 143px;
		}
		
		&.active a,
		a:hover {
			background: url('../images/hotpoint-sel-3.png') no-repeat 0 0;
		}
	}

	.hotpoint-4 {
		a {
			background: url('../images/hotpoint-4.png') no-repeat 0 0;
			width: 233px;
			// transform: rotate(180deg);
		}

		&.active a,
		a:hover {
			background: url('../images/hotpoint-sel-4.png') no-repeat 0 0;
		}
	}

	.hotpoint-5 {
		a {
			background: url('../images/hotpoint-5.png') no-repeat 0 0;
			width: 183px;
		}
		
		&.active a,
		a:hover {
			background: url('../images/hotpoint-sel-5.png') no-repeat 0 0;
		}

		span {
			padding-top: 14px;
		}
	}

	.hotpoint-6 {
		a {
			background: url('../images/hotpoint-6.png') no-repeat 0 0;
			width: 143px;
			// transform: rotate(180deg);
		}

		&.active a,
		a:hover {
			background: url('../images/hotpoint-sel-6.png') no-repeat 0 0;
		}
	}

	.hotpoint-7 {
		a {
			background: url('../images/hotpoint-7.png') no-repeat 0 0;
			width: 143px;
		}
		
		&.active a,
		a:hover {
			background: url('../images/hotpoint-sel-7.png') no-repeat 0 0;
		}
	}
	
}

