
.scroll-more {
	bottom: 0;
	height: 58px;
	position: absolute;

	a {
		background: url('../images/icon_scroll-more.png') no-repeat 0 0;
		display: block;
		height: 58px;
		margin: 0 auto;
		width: 117px;
	}
}