
// #myCarouselSec4.carousel{

//     height: 200px;
// }
// #myCarouselSec4 .fp-tableCell{
//     display:block;
// }

// .carousel-inner .active.left { left: -33%; }
// .carousel-inner .next        { left:  33%; }
// .carousel-inner .prev        { left: -33%; }
// .carousel-control.left,.carousel-control.right {background-image:none;}
// .item:not(.prev) {visibility: visible;}
// .item.right:not(.prev) {visibility: hidden;}
// .rightest{ visibility: visible;}





#myCarouselSec4.carousel {
	// border: 1px solid red;
    float: left;
    height: 117px;
    // margin-left: -12px;
    max-width: 860px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#myCarouselSec4 .fp-tableCell{
    display:block;
}

.carousel-inner {
	background-color: #5d5d60;
	/*margin-left: 126px;*/
	padding-left: 40px;
	opacity: 0.8;
    // width:90%;
}

.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; display: none;}
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
.item:not(.prev) {visibility: visible;}
.item.right:not(.prev) {visibility: hidden;}
.rightest{ visibility: visible;}
.carousel-control{
    width: 5%;
}

.carousel-inner {
	a {
		// background-color: $white;
		display: block;
		float: left;
		max-width: 269px;
		height: 80px;
		padding: 0 0 0 60px;
		// border: 1px solid red;
	}

	.read {
		background:url('../images/icon_pdf.png') no-repeat left 5px;
	}

	.watch {
		background:url('../images/icon_video.png') no-repeat left 5px;
	}

	.download {
		background:url('../images/icon_pdf.png') no-repeat left 5px;
	}

	.item > div {
		border-left: 1px solid $white;
		margin: 15px 0 15px 10px;
		padding: 12px 0 0 12px!important;
		height: 80px;
	}
}

.carousel-cont {

	.h3-more {
		background: url('../images/icon_green-block.png');
		color: $white;
		display: block;
		height: 127px;
		margin: -3px 0 0 0;
		position: relative;
	    float:left;
		width: 114px;
	}
}
