
// #myCarouselSec4.carousel{

//     height: 200px;
// }
// #myCarouselSec4 .fp-tableCell{
//     display:block;
// }

// .carousel-inner .active.left { left: -33%; }
// .carousel-inner .next        { left:  33%; }
// .carousel-inner .prev        { left: -33%; }
// .carousel-control.left,.carousel-control.right {background-image:none;}
// .item:not(.prev) {visibility: visible;}
// .item.right:not(.prev) {visibility: hidden;}
// .rightest{ visibility: visible;}





#myCarouselSec4.carousel {
border: 1px solid red;
    float: left;
    height: 117px;
    margin-left: -12px;
    max-width: 980px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#myCarouselSec4 .fp-tableCell{
    display:block;
}

.carousel-inner {
	background-color: #5d5d60;
	/*margin-left: 126px;*/
	opacity: 0.8;
        width:90%;
}

.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; display: none;}
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
.item:not(.prev) {visibility: visible;}
.item.right:not(.prev) {visibility: hidden;}
.rightest{ visibility: visible;}
.carousel-control{
    width:10%;
}

.carousel-inner {
	a {
		// background-color: $white;
		display: block;
		float: left;
		max-width: 269px;
		height: 100px;
		border: 1px solid red;
	}

	.item {
		border-left: 1px solid $white;
		padding: 15px;
		height: 80px;
	}
}

.carousel-cont {

.h3-more {
	background: url('../images/icon_green-block.png');
	display: block;
	height: 127px;
	margin: 0;
	position: relative;
        float:left;
	width: 114px;
}
}
