.pp-section {
	// max-width: 980px;

}

.overlay-top,
.overlay-bottom {
	@include gradient-vertical($start-color: rgba(160,183,202,.5), $end-color: rgba(255,255,255,.0));
	position: fixed;
	width: 100%;
	height: 60px;
	// border: 1px solid red;

	z-index: 20;
}

.overlay-top {
	top: 0;
}

.overlay-bottom {
	bottom: 0;
	@include gradient-vertical($start-color: rgba(255,255,255,.0), $end-color: rgba(160,183,202,.5));
}

.bars-left,
.bars-right {
	background: url('../images/bg-moving_lines.png') no-repeat 0 0;
	height: 289px;
	position: fixed;
	width: 79px;
}

.bars-left {
	bottom: 0;
	left: 30px;
}

.bars-right {
	background: url('../images/bg-moving_lines.png') no-repeat 0 0;
	top: 0;
	right: 30px;
	transform: rotate(180deg);
}

.rain-left {
	background: url('../images/bg_digital-rain.png') no-repeat 0 0;
	height: 289px;
	left: 74px;
	position: fixed;
	width: 79px;
	top: -180px;
}

.rain-right {
	background: url('../images/bg_digital-rain.png') no-repeat 0 0;
	bottom: 0;
	height: 289px;
	position: fixed;
	right: 24px;
	width: 79px;
}



section,
.pp-section {
	background-color: $white;
}

.intro {
	.container-fluid {
		background-color: $grey-mid;

		&.intro-links {
			margin-top: 40px;
			padding: 12px 4px;
		}

		.container {

			a {
				background: url('../images/icon_arrow-white.png') no-repeat right 100px;
				display: block;
				float: left;
				margin-right: 10px;
				min-height: 126px;
				vertical-align: top;

				img {
					width: 100%;
				}
			}				
		}	
	}
}

#section11 {
	p {
		padding-right: 110px;
	}
}














