
body {
	font-family: Arial, Helvetica, sans-serif;
	color: $grey-text;
}

h1 {
	b {
		color: $blue;
	}

	.intro & {
		font-size: 26px;
	}
}

p {
	font-size: $font-size;
	line-height: 17px;
}

.section {
	a {
		color: $white;
		font-size: $font-size;
		text-transform: uppercase;
	}
}